exp3/ANIME_Schema_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language">
						<xs:simpleType>
							<xs:restriction base="xs:normalizedString">
								<xs:pattern value="[A-Za-z]+"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="0"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="anime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" maxOccurs="unbounded"/>
				<xs:element ref="images"/>
				<xs:element ref="seasons"/>
				<xs:element ref="type" maxOccurs="unbounded"/>
				<xs:element ref="description"/>
				<xs:element ref="episode_list"/>
				<xs:element ref="price_list"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="episode_num" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:pattern value="(unknown)|([1-9][0-9]*)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="update_cycle" use="optional" default="weekly">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="weekly"/>
						<xs:enumeration value="daily"/>
						<xs:enumeration value="monthly"/>
						<xs:enumeration value="irregular"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isfinished" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_price">
					<xs:attribute name="currency" use="optional" default="CNY">
						<xs:simpleType>
							<xs:restriction base="xs:normalizedString">
								<xs:pattern value="[A-Z]{3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="period" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="annually"/>
								<xs:enumeration value="monthly"/>
								<xs:enumeration value="quarterly"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="estimated_cost" type="xs:nonNegativeInteger" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="images">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="thumbnail"/>
				<xs:element ref="preview"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="episode">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_episode">
					<xs:attribute name="href" type="xs:anyURI" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="preview" type="xs:anyURI"/>
	<xs:element name="seasons">
		<xs:complexType>
			<xs:attribute name="current_season" type="xs:positiveInteger" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="platform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="platform_name" use="optional" default="unknown">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bilibili"/>
						<xs:enumeration value="tecent"/>
						<xs:enumeration value="iqiyi"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="animeList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anime" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="thumbnail">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute type="xs:positiveInteger" name="size"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="price_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="platform"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="0"/>
				<xs:maxLength value="5000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="episode_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="episode" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="current_episode" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_price">
		<xs:restriction base="xs:positiveInteger">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_episode">
		<xs:restriction base="xs:positiveInteger">
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
